.logo {
	width: 130px;
	padding-top: 10px
}

.topnav {
	text-align: right;
	font-family: Birch Std;
	width: 99%;
	flex-direction: row;
}

.topnav a {
	text-align: right;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.topnav .icon {
	display: none;
}

.topnav a:hover {
	color: #c00;
}

.fullBdgdImage {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;

}

hr { margin-top: 30px; margin-bottom: 30px }

body {
	font-family: Myriad Pro;
	background-color: #DDEEF1;
	text-align: left;
	padding: 40px;
}



.music {
	text-align: left;
	position: left;
	float: left;

}

.ul{
	text-align: right;
	list-style-position: inside;


}

.li{
	text-align: right;
	list-style-position: inside;


}

h2 {
	font-family: Birch Std;
	text-align: left;
	font-size: 100px;
	font-weight: normal;
	margin-bottom: 1px;
	margin-top: 5px;
}

h1 {
	font-family: Birch Std;
	text-align: left;
}

img.about{
	width: 550px;
	height: 367px;
	float: left;
	padding-right: 40px;
	padding-top: 80px;
